<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doctogo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main2Activity"></activity>
        <activity android:name=".message" />
        <activity android:name=".DoctorAppointmentFragment" />
        <activity android:name=".cashier_transactions_archive" />
        <activity android:name=".cashier_list_archive" />
        <activity android:name=".cashier_list_view" />
        <activity android:name=".doctor_report" />
        <activity android:name=".doctor_main" />
        <activity android:name=".cashier_list_new" />
        <activity android:name=".Register" />
        <activity android:name=".cashier_transactions_view" />
        <activity android:name=".cashier_transaction_new" />
        <activity android:name=".cashier_main" />
        <activity android:name=".Admin_AccountDetails" />
        <activity android:name=".Admin_AccountsView" />
        <activity android:name=".Admin_Register" />
        <activity android:name=".Admin_main" />
        <activity android:name=".patientUpdateInformation" />
        <activity android:name=".checkHistory" />
        <activity android:name=".patient_payment" />
        <activity android:name=".locate_doctor" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".patient_main" />
    </application>

</manifest>